.glass {
	backdrop-filter: blur(40px);
	background: linear-gradient(
		91.66deg,
		rgba(255, 255, 255, 0.2) -3.52%,
		rgba(255, 255, 255, 0.4) -3.51%,
		rgba(255, 255, 255, 0.2) 81.75%
	);
	border: 1px solid;
	border-image-source: linear-gradient(
		180deg,
		rgba(200, 157, 207, 0.33) 0%,
		rgba(36, 6, 40, 0.23) 21.56%,
		rgba(0, 0, 0, 0) 28.85%,
		rgba(233, 193, 240, 0) 56.98%,
		rgba(111, 61, 174, 0.12) 100%
	);
	box-shadow: 0px 4px 24px 0px #00000040;
}

html {
	font-family: 'Mulish', sans-serif;
}
